.nav {
  background-color: orangered;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* You can add global class that all files can access using :global function */
:global(.test) {
  background-color: rebeccapurple;
}
